.big-container{
    background:white;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
}
.add{
    /* border: 1px solid red; */
    display: flex;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 16px;
}
h2{
    color: #3F3F3F;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    /* border: 1px solid red; */
    width: 332px;
    /* height: 440px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}
form p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #49485E;
    font-size: 10px;
    text-align: left;
    margin-bottom: 4px;
}
form input{
    width: 284px;
    height: 36px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}
form textarea{
    width:  284px;
    height: 108px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 16px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}
form .span{
    background: #FF8484;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 10px;
    position: absolute;
}
form .add-btn{
    background: #EEEEEE;
    width: 284px;
    padding-top: 10px;
    padding-bottom: 11px;
    border-radius: 10px;
    color: #B4B4B4;
    border: none;
    transition: 0.5ms ease all;
    outline: none;
    overflow: hidden;
    z-index:1;
}
.add-btn:hover{
    animation: si-button-pulse 0.8s 0s ease-out 1;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border: 1.5px solid gold;
    color: gold;
    font-weight: bold;
}
@keyframes si-button-pulse {
    from {box-shadow: 0 0 8px 6px #ffad1f, 0 0 12px 14px #ffad1f;}

    to {box-shadow: 0 0 10px 4px rgba(255, 48, 26, 0), 0 0 5px 30px rgba(255, 48, 26, 0);}
}

.add-btn:before ,
.add-btn:after 
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 30px solid #ffffff;
    border-bottom: 30px solid #ffffff;
    z-index: -1;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.add-btn:before{
    border-right: 30px solid transparent;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.add-btn:after{
    border-left: 30px solid transparent;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.add-btn:hover:before{
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
}

.add-btn:hover:after
{
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
}
.one, .two, .three, .four{
    position: relative;

}

/* -------------cards--------------- */
.cardss{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    display: none;
    position: relative;
    height: 423px;
    margin-top: 110px;
    flex-direction: column;
    box-sizing: border-box;
    width: auto;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}
.cards img{
    width: 332px;
    height: 200px;
}
.cards .deleted{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 310px;
    top: -10px;
    animation: anim 1s linear infinite;

}
@keyframes anim{
    0%{ transform: rotate(0deg);font-size: 25px;}
    20%{ transform: rotate(1deg);font-size: 26px;}
    40%{ transform: rotate(2deg);font-size: 27px;}
    60%{ transform: rotate(1deg);font-size: 26px;}
    80%{ transform: rotate(-1deg);font-size: 24px;}
    100%{ transform: rotate(0deg);font-size: 25px;}
    }
.text{
    width: 332px;
    box-sizing: border-box;
    padding-left: 16px;
    border-radius:0px 0px 4px 4px ;
}
.cards .text h4{
    margin: 0;
    margin-top: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #3F3F3F;
    margin-bottom: 16px;
}
.text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3F3F3F;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 20px;
}
.text .price{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #3F3F3F;
    margin-bottom: 24px;
}